{% extends 'base.html' %}
{% block content %}

<h1>Pedalboard List</h1>

{% for pedal in pedals %}
  <div class="card">
    <a href="{% url 'detail' pedal.id %}">
    <div class="card-content">
      <span class="card-title">{{ pedal.name }}</span>
      <p>Company: {{ pedal.company }}</p>
      <p>Type: {{ pedal.type }} Pedal</p>
      {% if pedal.stereo == yes %}
        <p>Is in Stereo</p>
      {% else %}
        <p>Is not in Stereo</p>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% endblock %}
